<!DOCTYPE html>

<html lang="en" ng-app='GitHubExplorer'>

    <head>
        <title>GitHub Explorer</title>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        
    </head>
<body>
    <div>
        GitHub Explorer v1.0.0
    </div>
    <div ng-controller="GitHubController">
        <h1>{{message}}</h1>
    </div>
    
    <script src="/angular/angular.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/controllers/GitHubController.js"></script>-->
    <script>
        var myApp = angular.module('GitHubExplorer',[]); 

        myApp.controller('GitHubController', function($scope){
            $scope.message='Hello Angular';
        });
    </script>
</body>
</html>